@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
  /* height: 100%; */
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  /* overflow: hidden; */
}

.title {
  color: #3B3B3B;
  font-size: 25px;
  margin-left: 12%;
  margin-top: 8%; 
  min-width: 250px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.chat-title {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.chat-history {
  padding-right: 20px;
}

.chat-bubble {
  word-wrap: break-word;
  box-sizing: border-box; 
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #e0e0e0; 
  border-radius: 15px; 
  padding: 10px 15px; 
  margin: 5px 0; 
  max-width: 100%;
  word-wrap: break-word; 
  color: #232323;
}

.user-chats {
  max-height: calc(100vh - 120px);
  overflow-y: auto; 
  width: 100%; 
  margin-bottom: 200px; 
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  text-align: left; 
}

.ai-message {
  background-color: #a0a0a0;
  align-self: flex-start;
  width: 70%;
}

.user-message {
  background-color: #e0e0e0;
  align-self: flex-end; 
  text-align: right; 
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.messages {
  position: absolute;
  bottom: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  width: 100%;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.message-bar {
  background-color: #D9D9D9;
  border-radius: 30px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 25px;
  padding-right: 25px;
  width: 80%;
}

.container2 {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-and-circle {
  position: relative;
  margin-bottom: 115px;
  padding-right: 50px;
}

.circle {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.arrow {
  margin-top: 25px;
  margin-left: 23px;
  position: absolute;
  z-index: 2;
  color: #232323;
}

.submit-message {
  background: none;
  border: none;
  cursor: pointer;
  outline: none; 
}

.submit-message.clicked {
    transform: scale(0.95);
    transition: transform 0.1s; 
}

.submit-message:hover {
    opacity: 0.8;
}

.submit-message:active {
    opacity: 0.6;
}

input {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: #232323;
  width: 100%;
}

input[type="text"]::placeholder {
  color: #232323;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  /* height: 90vh; */
}

.box {
  border-radius: 20px;
  background-color: #838383;
}

.chats-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 80vh; 
  padding-bottom: 120px; 
  max-height: 90%;
}

.chat-history {
  flex-basis: 20%;
  margin-right: 2%;
  margin-left: 1.5%;
}

.chat-main {
  width: 70%;
  /* margin-right: 2%; */
  padding-right: 100px;
  padding-left: 100px;
}

.footer-div {
  display: flex;
  justify-content: center;
}

.footer {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #8f8f8f;
  margin-top: 20px;
  margin-bottom: 30px;
}

.previous-chats {
  padding-right: 10px;
}

.thinking-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 10px 5px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  animation: thinkingDots 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) { animation-delay: -0.32s; }
.dot:nth-child(2) { animation-delay: -0.16s; }

@keyframes thinkingDots {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1.0); }
}


@media (max-width: 768px) {

  html, body {
    overflow-y: hidden;
    /* max-height: 350px; */
  }

  .container {
    margin-top: 15px;
  }
  
  .title {
    font-size: 18px;
    margin-left: 5%;
    margin-top: 8%; 
  }

  .chat-title {
    font-size: 24px; 
  }

  .user-message {
    width: auto;
  }

  .chat-bubble {
    font-size: 16px; 
  }

  input {
    font-size: 15px;
  }

  .chats-container {
    padding-bottom: 10px;
  }

  .message-bar {
    height: 40px;
  }

  .messages {
    padding-bottom: 0px;
  }

  .ai-message,
  .user-message {
    max-width: 80%;
  }

  .arrow-and-circle {
    margin-bottom: 130px;
  }

  .chat-history {
    padding-right: 10px;
  }

  .chat-main {
    padding-right: 50px;
    padding-left: 50px;
  }

  .footer {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .bar {
    width: 80%; 
    height: 75px;
  }

  .user-chats {
    max-height: calc(100vh - 120px);
    overflow-y: auto; 
    width: 100%; 
    margin-bottom: 100px; 
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    text-align: left; 
  }

  #app {
    overflow: hidden !important;
}

.footer-div {
  display: none; 
}

}

#app {
  overflow: hidden !important;
}
